<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <title>Adicionar Usuário</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../static/style/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container mt-4">
        <h2 class="title"><%= title %></h2>
        <form action="/save" id="form" method="post">
            <div class="form-group">
                <label class="style-label" for="name">Nome:</label>
                <input type="text" class="form-control" id="username" placeholder="Preencha com um nome" name="name" required>
                <span class="error"></span>
            </div>
            <div class="form-group">
                <label class="style-label" for="email">Email:</label>
                <input type="email" class="form-control" id="email" placeholder="Preencha com um email" name="email" required>
                <span class="error"></span>
            </div>
            <div class="form-group">
                <label class="style-label" for="pwd">Senha:</label>
                <input type="password" class="form-control" id="pwd" placeholder="Preencha com uma senha" name="pwd" required>
                <span class="error"></span>
            </div>
            <button type="submit" data-cy="enviar" class="btn btn-danger btn-style">Enviar</button>
        </form>
    </div>
    <script src="static/script.js"></script>
</body>
</html>