@import url('https://fonts.googleapis.com/css?family=Poppins:200i,400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #0C0D14;
    font-family: 'Poppins', sans-serif;
}

#title h1{
    text-align: center;
    color: white;
    font-family: inherit;
}

.text-center {
    text-align: center;
    color: #12015c;
}

.title-header {
    position: relative;
    top: 17rem;
    padding: 0 10px;
    background: white;
    opacity: 0.8;
}

.content-form {
    position: relative;
}

.container{
    width: 820px;
    height: 400px;
    margin: 70px auto;
    display: flex;
    flex: 1 1 100%;
    overflow: hidden;
    align-items: stretch;
    justify-content: space-between;
    box-shadow: 1px 1px 10px 2px rgba(0,0,0,0.2);
    border-radius: 10px;
}

.left {
    background-color: #1E88E5;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('../images/personaNegocio.jpg');
    overflow: hidden;
}

.right {
    position: relative;
    background: white;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

/* Form */

.form-set{
    display: flex;
    align-items: center;
    margin: 20px 0;
}

.form-control {
    width: 100%;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-control:focus {
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.align-label{
    display: flex;
    font-weight: bold;
    font-size: 16px;
    padding: 0 1rem;
}

input::placeholder {
    padding: 0 6px;
    font-size: 12px;
}

input,
button,
select,
textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

/*Comment*/
textarea {
    background: none;
}

.input-textarea {
    margin-top: 6px;
    width: 100%;
    height: 105px;
    border: 1px solid white;
    border-radius: 5px;
    resize: none;
    transition: 0.3s;
}

.input-textarea:hover {
    border: 2px solid white;
}

/*Button */
button {
    border: none;
    border-radius: 5px;
}

.submit-button {
    width: 100%;
    height: 30px;
    background-color: black;
    color: white;
    transition: 0.3s;
}
